[Unit]
Requires=funkwhale-api.service
After=funkwhale-api.service

[Container]
Image=funkwhale-front.image
Pod=funkwhale.pod
EnvironmentFile=/etc/funkwhale/funkwhale.env
EnvironmentFile=%h/.config/funkwhale-extra.env
Volume=%h/.local/share/funkwhale/volumes/funkwhale-music:/music:z,ro
Volume=%h/.local/share/funkwhale/volumes/funkwhale-media:/media:z,ro
Volume=funkwhale-static:/usr/share/nginx/html/staticfiles:ro

[Service]
Restart=always
