[Container]
Image=redis:7-alpine
Pod=funkwhale.pod
EnvironmentFile=/etc/funkwhale/funkwhale.env
EnvironmentFile=%h/.config/funkwhale-extra.env
Volume=funkwhale-redis-data:/data

[Service]
Restart=always
