[Container]
Image=yggdrasil.image
Network=host
AddCapability=NET_ADMIN
AddDevice=/dev/net/tun
Volume=/var/lib/yggdrasil:/etc/yggdrasil-network:Z

[Service]
Restart=always

[Install]
WantedBy=default.target
